@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600;700;800&display=swap');

:root {
  --colorFondo: hsl(30, 38%, 92%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--colorFondo);
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 375px;
  max-width: 1470px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 600px;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;

  &-image {
    width: calc(168%);
    display: block;

    &-imgdesktop {
      width: 100%;
      height: 100%;

    }

    &-imgmovile {
      height: calc(100%);
      display: none;
    }
  }

  &-contend {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding: 15px 25px;

    &-header {
      width: 75%;

      &-type {
        font-family: 'Montserrat', serif;
        font-size: 12px;
        letter-spacing: 0.25em;
        color: rgb(134, 134, 134);
        margin-top: 18px;
        font-weight: 500;
      }

      &-title {
        margin-top: 24px;
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.02;
      }
    }

    &-body {
      font-family: 'Montserrat', serif;

      &-contend {
        margin-right: 10px;
        margin-top: -5px;

        &-text {
          font-size: 14px;
          line-height: 1.62;
          color: rgb(109, 109, 109);
          font-weight: 500;
        }
      }

      &-price {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: space-around;
        margin-top: -15px;

        &-number {
          flex: 1;
          font-family: 'Fraunces', serif;
          font-weight: 800;
          font-size: 31px;
          color: rgb(55, 119, 96);
        }

        &-before {
          font-size: 13px;
          color: rgb(148, 148, 148);
          font-weight: 600;
          text-decoration: line-through;
        }
      }
    }

    &-footer {
      display: flex;
      width: 95%;

      &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: rgb(55, 119, 96);
        cursor: pointer;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 14px;
        font-weight: 700;
      }

      &-btn:hover {
        background-color: rgb(37, 88, 70);
      }
    }
  }
}

@media (max-width:700px) {
  .card {
    height: 600px;
    width: 330px;
    flex-direction: column;

    &-image {
      height: calc(40%);

      &-imgdesktop {
        display: none;
      }

      &-imgmovile {
        display: block;

      }
    }

    &-contend {

      &-header {
        width: 100%;

        &-type {
          margin-top: 5px;
        }

        &-title {
          margin-top: 12px;
        }
      }

      &-body {
        &-contend {
          margin-top: -15px;
        }

        &-price {
          margin-top: -25px;
        }
      }

      &-footer {
        margin-top: -10px;
      }
    }
  }
}